.Rhistory
.RData
.Rproj.user
_bookdown_files
*.rds
*.key
*.docx
.Rapp.history
*.xlsx
_excluded/
course-materials/exams/
course-materials/hw-instructions
course-materials/lab-instructions/
course-materials/project-instructions/
course-materials/starters/
course-materials/slides/_excluded/
.github/workflows/

*.mp4
